
/*
.container {
    display: flex;
    flex-direction: row;
    margin-top: calc( 0.1 * var(--width-card));
    border-top: 2px solid #cae7b9;
    border-right: 2px solid #cae7b9;
    padding-top: calc( 0.006 * var(--width-card));
    border-top-right-radius: calc( 0.01 * var(--width-card));
}

.image {
    border-radius: calc( 0.01 * var(--width-card));
    width: 50px;
    height: auto;
}

.box-left {
    display: flex;
}

.box-right {
    display: flex;
    flex: 1;
    padding-left: calc( 0.01 * var(--width-card));
    padding-right: calc( 0.01 * var(--width-card));
    flex-direction: column;
}

.box-right-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box-right-bottom {
    display: flex;
    justify-content: flex-end;
}

.section {
    font-family: "Oswald", sans-serif;
    font-size: calc( 0.03 * var(--width-card));
    font-weight: 600;
}

.title {
    font-family: "Merriweather", serif;
    font-size: calc( 0.04 * var(--width-card));
    font-weight: bold;
    color: #ca1f3d;
}

.description {
    font-family: "Roboto", sans-serif;
    font-size: calc( 0.032 * var(--width-card));
    margin-top: calc( 0.012 * var(--width-card));
    margin-bottom: calc( 0.010 * var(--width-card));
}

.button {
    background-color: #73bfb8;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: calc( 0.032 * var(--width-card));
    border-radius: calc( 0.008 * var(--width-card));
    padding: calc( 0.008 * var(--width-card));
    padding-left: calc( 0.03 * var(--width-card));
    padding-right: calc( 0.03 * var(--width-card));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@media (max-width: 700px) {

    .container {
        flex-direction: column;
        margin-top: calc( 0.14 * var(--width-card));
        padding-top: calc( 0.015 * var(--width-card));
        border-top-right-radius: calc( 0.03 * var(--width-card));
    }

    .image {
        border-radius:  calc( 0.02 * var(--width-card));
        width: 40px;
        height: auto;
    }

    .section {
        font-size: calc( 0.05 * var(--width-card));
    }

    .title {
        font-size: calc( 0.06 * var(--width-card));
    }

    .description {
        font-size: calc( 0.045 * var(--width-card));
    }

    .button {
        font-size: calc( 0.046* var(--width-card));
        border-radius: calc( 0.01 * var(--width-card));
        padding: calc( 0.01 * var(--width-card));
        padding-left: calc( 0.05 * var(--width-card));
        padding-right: calc( 0.05 * var(--width-card));
    }

}
    */
