
.card-container {
    background: #dcefd1;
    border-radius: 10px;
    text-align: center;
    font-weight: bold; 
}

.card-content {
    
    
}

.card-top {
    
    
}

.card-bottom {
    padding: 1rem;


}

.image {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/*
.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.box-left {
    display: flex;
    width: 24%;
}

.box-right {
    display: flex;
    width: 100%;
    padding-left: 12px;
    padding-right: 0px;
    flex-direction: column;
}

.box-right-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box-right-bottom {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.section {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.title {
    font-family: "Merriweather", serif;
    font-size: 22px;
    margin-top: 8px;
    font-weight: bold;
    color: #ca1f3d;
}

.description {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.button {
    background-color: #73bfb8;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    border-radius: 8px;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .box-left {
        width: 100%;
    }

    .box-right {
        padding-left: 0px;
    }
    
    .image {
        width: 100%;
    }

}
*/