
<div [style.width]="cardWidth + 'px'" class="container">
    <div class="content">
        <div class="box-left">
            <img src="../../../assets/{{image}}" 
                alt="Learn English" 
                class="image">
        </div>
        <div class="box-right">
            <div class="box-right-top">
                <div class="section">{{section}}</div>
                <div class="title">{{title}}</div>
                <div class="description">{{description}}</div>
            </div>
            <div class="box-right-bottom">
                <a routerLink="/{{router}}">
                    <div class="button">
                        <span>{{button}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
