
.container {
    border-top: 1px solid #cae7b9;
    display: flex;
    flex-direction: column;
    padding-top:  calc( 0.02 * var(--width));
    padding-bottom:  calc( 0.1 * var(--width));
}

.url-box {
    display: flex;
    justify-content: center;
}

.url-style {
    color: #0f4e77;
    font-size: calc( 0.02 * var(--width));
}

.box-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-copyright {
    font-size: calc( 0.015 * var(--width));
}

@media (max-width: 768px) {

    .url-style {
        font-size: calc( 0.04 * var(--width));
    }

    .text-copyright {
        font-size: calc( 0.025 * var(--width));
    }

}

