

/* ------------------------ */
/* 6. FOOTER */
/* ------------------------ */

.footer-container {
    margin-top: 2rem;
    padding: 2rem 0;
    text-align: center;
    background: var(--color-bg-head-foot);
    color: var(--color-font-pri);
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: var(--color-lin-sep);
}
