
.container {
    border-top: 2px solid #cae7b9;
    display: flex;
    flex-direction: column;
}

.url-box {
    display: flex;
    justify-content: center;
}

.url-style {
    color: #0f4e77;
    font-size: 18px;
}

.box-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-copyright {
    font-size: 14px;
}

@media (max-width: 768px) {

    .url-style {
        font-size: 20px;
    }

    .text-copyright {
        font-size: 16px;
    }

}
