
.container {
    width: 100vw;
}

.content {
    background-color: #77ddfa;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 16px 16px 6px 16px;
    padding: 24px 16px 16px 16px;
    border-radius: 16px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #0f4e77;
}

.box-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome-pri {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nome-ult {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nome-letra-gr {
    font-size: 80px;
}

.nome-letra-pq {
    font-size: 40px;
}

.box-my-job {
    background-color: #89a377;
    background-color: #fbd271;
    background-color: #007aff;
    background-color: #34aadc;
    padding: 10px 30px 10px 30px;
    font-family: "Merriweather", serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
    border-radius: 10px;
}

.box-my-skills {
    display: flex;
    flex-direction: row;
    margin: 12px 6px 12px 6px;
    color: #073a4b;
}

.box-skill {
    margin: 6px;
    font-size: 20px;
}

@media (max-width: 768px) {

    .content {
        margin: 10px 10px 0px 10px;
        flex-direction: column;
        border-radius: 12px;
    }

    .nome-letra-gr {
        font-size: 64px;
    }

    .nome-letra-pq {
        font-size: 33px;
    }

}

/*
.box-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
}

.text-pri-letra {
    font-size: 90px;
    color: #f04770;
    color: #3e5c76;
    color: #748cab;
    color: #809bce;
    color: #84a98c;
}

.text-dem-letras {
    font-size: 40px;
    color: #f04770;
    color: #84a98c;
    letter-spacing: 1px;
}

.box-job {
    background-color: #cfe1f3;
    background-color: #e9e9d3;
    background-color: #C8C892;
    background-color: #F8F8F1;
    background-color: #D6D6AE;
    padding: 8px 26px 8px 26px;
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #7197d3;  
    opacity: 0.9;
}

.text-job {
    font-family: "Merriweather", serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #073a4b;
}

.box-skills {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
}

.text-skills {
    margin: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #073a4b;
    color: #52796f;
    color: #086375;
}

@media (max-width: 768px) {

    .container {

    }

    .content {
        margin: 8px;
    }

    .text-pri-letra {
        font-size: 60px;
    }

    .text-dem-letras {
        font-size: 26px;
    }

    .text-job {
        font-size: 16px;
    }

    .box-skills {
        margin: 10px 0px 25px 0px;
    }

    .text-skills {
        font-size: 16px;
    }

}
*/