
.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #ff6392
}

.box-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.nome-pri {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.nome-ult {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.nome-letra-gr {
    font-size: clamp(50px, 5vw, 80px); ;
}

.nome-letra-pq {
    font-size: clamp(25px, 2.5vw, 40px); ;
}

.box-my-job {
    padding: 10px 30px 10px 30px;
    font-family: "Merriweather", serif;
    font-size: clamp(18px, 1.8vw, 36px); ;
    font-weight: bold;
    color: #5aa9e6;
    letter-spacing: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: #7fc8f8;
}

.box-my-skills {
    display: flex;
    flex-direction: row;
    color: #79b4ae;
    font-size: clamp(16px, 1.6vw, 32px); ;
}

.skill-separator {
    width: 14px;
}

@media (max-width: 700px) {

    .container {
        flex-direction: column;
        align-items: center;
    }

    .nome-letra-gr {
        font-size: clamp(40px, 20vw, 100px); ;
    }

    .nome-letra-pq {
        font-size: clamp(26px, 8vw, 50px); ;
    }

    .box-my-job {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px 10px 20px;
        font-family: "Merriweather", serif;
        font-size: clamp(10px, 5vw, 30px); ;
        font-weight: bold;
        color: #5aa9e6;
        letter-spacing: 2px;
        border-style: solid;
        border-radius: 8px;
        border-color: #7fc8f8;
    }

    .box-my-skills {
        display: flex;
        flex-direction: row;
        color: #79b4ae;
        font-size: clamp(9px, 4.5vw, 27px); ;
        padding: 18px 6px 20px 6px;
    }

    .skill-separator {
        width: 14px;
    }

}
