/* ------------------------ */
/* 2. HEADER + MENU */
/* ------------------------ */

.header-container {
    background: var(--col-bg-head-foot);
    color: var(--col-font-pri);
    padding: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--col-lin-sep);    
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-top {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    padding-top: 6px;
    padding-right: 10px;
    gap: 10px;
}

.box-logo {
    background-color: transparent;
}    

.box-menu {
    padding-bottom: 20px;
}

.image-socials {
    width: 40px;
    height: auto;
}    

.image-logo {
    width: 80%;
    height: auto;
}        

.nav-header {
    position: relative;
}


.menu-header {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    font-weight: 600;
}

.menu-header a {
    color: var(--col-font-pri);
    text-decoration: none;
    font-size: 1.1rem;
}

/* --- MENU MOBILE --- */
#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

/* ------------------------ */
/* 7. RESPONSIVIDADE */
/* ------------------------ */

/* Mobile (menu hambúrguer) */
@media (max-width: 768px) {

    .menu-header {
        display: none;
        position: absolute;
        top: 48px;
        right: 0;
        flex-direction: column;
        background: var(--col-bg-menu-head);
        width: 200px;
        padding: 1rem;
        border-radius: 12px;
    }
    
    .menu-header a {
        color: var(--col-font-pri);
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
    }

    .menu-icon {
        display: block;
        color: var(--col-font-pri);
    }

}
