
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 4px;
    border-radius: 12px;
}

.box-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #6e7e2a;
    color: #f55c7a;
    color: #79addc;
    color: #ff7477;
    color: #a0ced9;
    color: #809bce;
    color: #003049;
    color: #6c757d;
    color: #ef233c;
    color: rgba(255, 100, 100, 0.5); 
    color: #809bce;
    color: #ff686b;
    text-shadow: 4px 4px 6px #80998f;
    text-shadow: 4px 4px 6px #ffa69e;
    
}

.box-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.nome-pri {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.nome-ult {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.nome-letra-gr {
    font-size: clamp(50px, 5vw, 80px); ;
}

.nome-letra-pq {
    font-size: clamp(25px, 2.5vw, 40px); ;
}

.box-my-job {
    background-color: #b9dbab;
    padding: 10px 30px 10px 30px;
    font-family: "Merriweather", serif;
    font-size: clamp(18px, 1.8vw, 36px); ;
    font-weight: bold;
    color: #ffffff;
    color: #3e6985;  
    color: #8aa7bc;  
    color: #49769f;
    letter-spacing: 2px;
    border-radius: 8px;
    box-shadow: 3px 3px 6px #adf7b6;
    box-shadow: 3px 3px 6px #80998f;
/*
    border-style: solid;
    border-width: 2px;
    border-color: #79b4ae;
*/
}

.box-my-skills {
    display: flex;
    flex-direction: row;
    color: #576238;
    font-size: clamp(16px, 1.6vw, 32px); 
/*
    text-shadow: 3px 3px 4px #999999;
*/
}

.skill-separator {
    width: 14px;
}

@media (max-width: 700px) {

    .container {
        flex-direction: column;
        align-items: center;
    }

    .nome-letra-gr {
        font-size: clamp(40px, 20vw, 100px); ;
    }

    .nome-letra-pq {
        font-size: clamp(26px, 8vw, 50px); ;
    }

    .box-my-job {
        padding: 10px 20px 10px 20px;
        font-family: "Merriweather", serif;
        font-size: clamp(10px, 5vw, 30px); ;
        letter-spacing: 2px;
        border-radius: 8px;
    }

    .box-my-skills {
        font-size: clamp(9px, 4.5vw, 27px); ;
        padding: 18px 6px 20px 6px;
    }

    .skill-separator {
        width: 14px;
    }

}
