/* ------------------------ */
/* 2. HEADER + MENU */
/* ------------------------ */

.header {
    background: var(--color-bg-header-footer);
    color: var(--color-font-reverse);
    padding: 1rem 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--color-line-separator);    
}

.box-logo {
    margin: 14px 0px 14px 0;
}

.image-logo {
    width: 80%;
    height: auto;
}

.logo-name {
    font-family: "Henny Penny", system-ui;
    font-size: clamp(1.5rem, 3vw, 2.4rem);
    text-shadow: 8px 8px 20px #000000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    position: relative;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.menu a {
    color: var(--color-font-reverse);
    text-decoration: none;
    font-size: 1.1rem;
}

/* --- MENU MOBILE --- */
#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

/* ------------------------ */
/* 7. RESPONSIVIDADE */
/* ------------------------ */

/* Mobile (menu hambúrguer) */
@media (max-width: 768px) {

    .menu {
        display: none;
        position: absolute;
        top: 48px;
        right: 0;
        flex-direction: column;
        background: var(--color-bg-menu-header);
        width: 200px;
        padding: 1rem;
        border-radius: 12px;
    }
    
    .menu a {
        color: var(--color-font-reverse);
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
    }

    .menu-icon {
        display: block;
        color: var(--color-font-reverse);
    }

}
