
<div class="container">
    <div class="box-left">
        <div class="box-name">
            <div class="box-pri-letra">
                <span class="text-pri-letra">N</span>
            </div>
            <div class="box-dem-letras">
                <span class="text-dem-letras">ivaldo</span>
            </div>
        </div>
        <div class="box-name">
            <div class="box-pri-letra">
                <span class="text-pri-letra">H</span>
            </div>
            <div class="box-dem-letras">
                <span class="text-dem-letras">ydalgo</span>
            </div>
        </div>
    </div>
    <div class="box-right">
        <div class="box-job">
            <span class="text-job">Software Developer</span>
        </div>
        <div class="box-skills">
            <div class="text-skills">MAINFRAME</div>
            <div class="text-skills">WEB</div>
            <div class="text-skills">MOBILE</div>
            <div class="text-skills">IA</div>
        </div>
    </div>
</div>
