
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--width);
}

.box-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: calc(0.01 * var(--width));
    padding-right: calc(0.01 * var(--width));
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #ff6392
}

.box-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: calc(0.01 * var(--width));
    padding-right: calc(0.01 * var(--width));
}

.nome-pri {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.nome-ult {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.nome-letra-gr {
    font-size: calc(0.09 * var(--width));
}

.nome-letra-pq {
    font-size: calc(0.045 * var(--width));
}

.box-my-job {
    padding-top: calc( 0.01 * var(--width));
    padding-bottom: calc( 0.01 * var(--width));
    padding-left: calc( 0.04 * var(--width));
    padding-right: calc( 0.04 * var(--width));
    font-family: "Merriweather", serif;
    font-size: calc( 0.025 * var(--width));
    font-weight: bold;
    color: #5aa9e6;
    letter-spacing: 2px;
    border-style: solid;
    border-radius: calc( 0.015 * var(--width));
    border-color: #7fc8f8;
}

.box-my-skills {
    display: flex;
    flex-direction: row;
    color: #79b4ae;
    font-size: calc( 0.023 * var(--width));
}

.skill-separator {
    width: calc( 0.02 * var(--width));
}

@media (max-width: 700px) {

    .container {
        flex-direction: column;
        align-items: center;
    }

    .nome-letra-gr {
        font-size: calc(0.18 * var(--width));
    }

    .nome-letra-pq {
        font-size: calc(0.09 * var(--width));
    }

    .box-my-job {
        padding-top: calc( 0.02 * var(--width));
        padding-bottom: calc( 0.02 * var(--width));
        padding-left: calc( 0.07 * var(--width));
        padding-right: calc( 0.07 * var(--width));
        font-size: calc( 0.05 * var(--width));
        border-radius: calc( 0.03 * var(--width));
    }

    .box-my-skills {
        padding-top: calc( 0.02 * var(--width));
        padding-bottom: calc( 0.06 * var(--width));
        font-size: calc( 0.05 * var(--width));
    }

}
