
    <!-- HEADER -->
    <header class="header-container">
        <div class="container-general header-content">

            <div class="box-logo">
                <img src="../../../assets/nivaldo_hydalgo_logo.png" class="image-logo" alt="">
                <!--
                <h1 class="logo-name">Nivaldo Hydalgo</h1>
            -->
            </div>

            <div class="box-menu">
                <!-- MENU (hamburger no mobile) -->
                <nav class="nav-header">
                    <input type="checkbox" id="menu-toggle">
                    <label for="menu-toggle" class="menu-icon">☰</label>
                    <ul class="menu-header">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Aprenda</a></li>
                        <li><a href="#">Perfil</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>


<!--
<div class="container">
        <div class="box-name">
            <div class="name-pri">
                <div class="name-letra-gr">N</div>
                <div class="name-letra-pq">ivaldo</div>
            </div>
            <div class="name-ult">
                <div class="name-letra-gr">H</div>
                <div class="name-letra-pq">idalgo</div>
            </div>
        </div>
        <div class="box-description">
            <div class="box-my-job">Software Developer</div>
            <div class="box-my-skills">
                <div>MAINFRAME</div>
                <div class="skill-separator"></div>
                <div>WEB</div>
                <div class="skill-separator"></div>
                <div>MOBILE</div>
                <div class="skill-separator"></div>
                <div>IA</div>
            </div>
        </div>
</div>
-->
