.container {
    display: flex;
    flex-direction: column;
    width: var(--width);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: calc( 0.08 * var(--width));
}

@media (max-width: 700px) {

    .content {
        padding-bottom: calc( 0.15 * var(--width));
    }

}

