
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #caf0f8;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
}

@media screen and (max-width: 800px) {
    .content {
        width: 96%;
    }

}
