
<div class="container">
    <a [routerLink]="['/home']">
        <div class="button-box">
            <div class="button-style">Home</div>
        </div>
    </a>
    <a [routerLink]="['/learn']">
        <div class="button-box">
            <div class="button-style">Aprenda</div>
        </div>
    </a>
    <a [routerLink]="['/tips']">
        <div class="button-box">
            <div class="button-style">Dicas</div>
        </div>
    </a>
    <a [routerLink]="['/profile']">
        <div class="button-box">
            <div class="button-style">Perfil</div>
        </div>
    </a>
    <a [routerLink]="['/about']">
        <div class="button-box">
            <div class="button-style">About</div>
        </div>
    </a>
</div>
