
.container {
    width: 64vw;
}

.content {
    margin-top: 20px;
    margin-bottom: 40px;
}

@media (max-width: 700px) {

    .container {
        width: 96vw;
    }

}

@media (min-width: 701px) and (max-width: 1100px) {

    .container {
        width: 80vw;
    }

}