
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content {
    width: 66vw;  
    display: flex;  
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;  
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 768px) {

    .content {
        width: 90vw;        
    }

}
 
@media (min-width: 769px) and (max-width: 1024px) {

    .content {
        width: 86vw;        
    }

}

@media (min-width: 1025px) and (max-width: 1535px) {

    .content {
        width: 76vw;        
    }

}
