
.container {
    background-color: #8ecae6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 30px;
}

@media screen and (max-width: 800px) {
    .container {
        margin-top: 10px;
        width: 96vw;
    }

}