
html, body {
    background-color: #fffbff;
    width: 100vw;
    margin: 0;
    padding: 0;
}

/*
@media (max-width: 640px) AND (orientation: portrait) {

    html, body {
        background-color: #fcf5c7;
    }

}
    */