/* ------------------------ */
/* 1. CONFIGURAÇÕES GLOBAIS */
/* ------------------------ */

html { box-sizing: border-box; font-size: 16px; }
*, *:before, *:after { box-sizing: inherit; }

body {
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.6;
    background: #fcfcfc;
}

/* CONTAINER PRINCIPAL: controla a largura do site */

.container {
    width: 100%;
    max-width: min(1200px, 90vw);
    margin: 0 auto;
    background: transparent;
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        max-width: min(900px, 85vw);
    }
}

/* Desktop padrão */
@media (min-width: 1024px) {
    .container {
        max-width: min(1100px, 70vw);
    }
}

/* Telas grandes */
@media (min-width: 1600px) {
    .container {
        max-width: min(1400px, 55vw);
    }
}

/* Telas ultralargas */
@media (min-width: 2000px) {
    .container {
        max-width: 50vw;
    }
}

