/* ------------------------ */
/* 1. CONFIGURAÇÕES GLOBAIS */
/* ------------------------ */

:root {
    --col-bg-all: #fcfcfc;
    --col-bg-all: #dcefd1;
    --col-bg-head-foot: #cae7b9;
    --col-bg-menu-head: #79b4ae;
    --col-lin-sep: #b7cf4f;
    --col-font-pri: #315a72;
}

html { 
    box-sizing: border-box; 
    font-size: 18px; 
}

*, *:before, *:after { box-sizing: inherit; }

body {
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.4;
    background: var(--col-bg-all);
}

/* CONTAINER PRINCIPAL: controla a largura do site */

.container-general {
    width: 100%;
    max-width: min(1200px, 90vw);
    margin: 0 auto;
    background: transparent;
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        max-width: min(900px, 85vw);
    }
}

/* Desktop padrão */
@media (min-width: 1024px) {
    .container {
        max-width: min(1100px, 70vw);
    }
}

/* Telas grandes */
@media (min-width: 1600px) {
    .container {
        max-width: min(1400px, 55vw);
    }
}

/* Telas ultralargas */
@media (min-width: 2000px) {
    .container {
        max-width: 50vw;
    }
}

