
.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-top: 2px solid #e3ecb2;
    border-bottom: 2px solid #e3ecb2;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button-style {
    font-family: "Roboto", sans-serif;
    color: #5b5f97;
    font-size: 18px;
    font-weight: 500;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@media (width < 700px) {

    .button-style {
        font-size: 16px;
    }

}
