
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #d7e3fc;    
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button-style {
    font-family: "Roboto", sans-serif;
    color: #0f4e77;
    font-size: 18px;
    font-weight: 500;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@media (max-width: 640px) AND (orientation: portrait) {

    .container {
        background-color: #ffffff;
        border-radius: 10px;
    }

    .button-style {
        font-size: 14px;
        color: #5b5f97;
    }

}