
.container {
    background-color: #f3f5f2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: -2.6vw 3vw 1vw 3vw;
    padding: 0.7vw 0.7vw 0.7vw 0.7vw;
    border-radius: 2vw;
    border-style: solid;
    border-color: #704149;
    border-color: #fe9e24;
    border-color: #ca1f3d;
    border-color: #f44463;
    border-width: 0.4vw;
}

.button-box {
    background-color: #fca311;
    background-color: #fbd870;
    background-color: #fe9e24;
    background-color: #cfdea7;
    background-color: #fbd271;
    background-color: #ffb876;
    background-color: #657a42;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6vw 0.3vw 0.6vw 0.3vw;
    padding: 0.6vw 2vw 0.6vw 2vw;
    border-radius: 1vw;
}

.button-style {
    font-family: "Roboto", sans-serif;
    color: #25182e;
    color: #704149;
    color: #ffffff;



    font-size: 2.2vw;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@media (max-width: 768px) {

    .container {
        margin: -5vw 3vw 1vw 3vw;
        border-radius: 3vw;
        border-width: 0.8vw;
    }

    .button-box {
        margin: 2vw 0.6vw 2vw 0.6vw;
        padding: 1.3vw 2vw 1.3vw 2vw;
    }


    .button-style {
        font-size: 5vw;
    }


}