
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: var(--width);
    padding-top: calc( 0.01 * var(--width));
    padding-bottom: calc( 0.01 * var(--width));
    border-top: 2px solid #cae7b9;
    border-bottom: 2px solid #cae7b9;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc( 0.003 * var(--width));
}

.button-style {
    font-family: "Roboto", sans-serif;
    color: #5b5f97;
    font-size: calc( 0.02 * var(--width));
    font-weight: 500;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@media (max-width: 700px) {

    .container {
        padding-top: calc( 0.03 * var(--width));
        padding-bottom: calc( 0.03 * var(--width));
    }

    .button-style {
        font-size: calc( 0.04 * var(--width));
    }    

}

/*


a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@media (max-width: 768px) {

    .container {
    }

    .button-box {
    }

    .button-style {
        font-size: 16px;
    }

}
    */