
.container {
    display: flex;
    text-align: justify;
    margin-top: 6px;
    margin-bottom: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #444444;
    font-size: clamp(14px, 2vw, 22px); 
}

@media (max-width: 768px) {

    .container {

    }

}
